:root {

    /* Generated coolers palette: https://coolors.co/palette/7a7265-c0b7b1-8e6e53-c69c72-433e3f */
    /* --color-1: #C69C72;
    --color-2: #8E6E53;
    --color-3: #C0B7B1;
    --color-4: #7A7265;
    --color-5: #433E3F; */

    /* Generated coolers palette: https://coolors.co/palette/4b4237-d5a021-ede7d9-a49694-736b60 */
    /* --color-1: #D5A021;
    --color-2: #EDE7D9;
    --color-3: #A49694;
    --color-4: #736B60;
    --color-5: #4B4237; */

    /* Generated coolers palette: https://coolors.co/palette/6f1d1b-bb9457-432818-99582a-ffe6a7 */
    /* --color-1: #FFE6A7;
    --color-2: #BB9457;
    --color-3: #99582A;
    --color-4: #6F1D1B;
    --color-5: #432818; */

    /* Generated coolers palette: https://coolors.co/f7f0dd-593b37-d18514-922910-af7e80 */
    /* --color-1: #F7F0DD;
    --color-2: #AF7E80;
    --color-3: #D18514;
    --color-4: #922910;
    --color-5: #593B37; */
    
    /* Generated coolers palette: https://coolors.co/f7f0dd-593b37-d18514-922910-af7e80 */
    --color-1: #D68915;
    --color-2: #A95D11;
    --color-3: #18263b;
    --color-4: #31190b;
    --color-5: #120704;

    --light-text-color: white;
    --dark-text-color: var(--color-5);
    --header-footer-color: var(--color-1);
    --header-footer-bg-color: black;
}

.App {
    color: var(--light-text-color);
    background-color: var(--color-3);
    font-family: Georgia, Times, Cambria, Cochin, 'Times New Roman', serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;  
    min-height: 100vh;
    max-width: 100%;
    font-size: calc(10px + 2vmin);
}

.Body.container-fluid {
    padding-top: 10px;
    margin: auto;
    max-width: 1200px;
}

header {
    font-size: 2vh;   
    color: var(--header-footer-color);
    background-color: var(--header-footer-bg-color); 
}

header img {
    height: 4vh; 
}

footer {
    font-size: calc(8px + 1vmin);
    padding-top: 20px;
    color: var(--header-footer-color);
    background-color: var(--header-footer-bg-color);
}

footer .tankard-logo {
    height:  calc(3vmin);
    vertical-align: middle;
    pointer-events: none;
}

footer a {
    color: inherit;
}

@media (prefers-reduced-motion: no-preference) {
    .tankard-logo {
        animation: tankard-logo-wobble infinite 5s;
    }

    .tankard-logo.flipped {
        animation: tankard-logo-flipped-wobble infinite 5s linear;
    }
}

@keyframes tankard-logo-wobble {
    0% { transform: rotate(-10deg); }
    50% { transform: rotate(10deg) translateX(-40%) translateY(-10%) }
    100% { transform: rotate(-15deg); }
}

@keyframes tankard-logo-flipped-wobble {
    0% { transform:  scaleX(-1) rotate(-10deg); }
    50% { transform:  scaleX(-1) rotate(2deg) translateX(-10%) translateY(-40%) }
    100% { transform:  scaleX(-1) rotate(-10deg); }
}

textarea:read-only {
    border: none;
    resize: none;
    color: inherit;
    background-color: transparent;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;
}

a {
    color: var(--color-1);
    text-decoration: none;
}

a:hover {
    color: var(--color-2);
    text-decoration: underline;

}

a.card-wrapper {
    text-decoration: none;
    color: gray;
}

.card {
    border: none;
}

.card:hover {
    color: var(--color-2);
    background-color: var(--color-5);
}

.card-header {
    border-color: gray;
}

.card-header,
.card-body,
.card-footer {
    background-color: var(--color-4);
}

.card-body,
.card-footer {
    font-size: 70%;
    border: none;
}